<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="template">
<head>
<meta charset="utf-8">
<title>access Denied</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="col-md-6 col-md-offset-3 spacer">
      <div class="panel panel-danger">
        <div class="panel-heading">access denied</div>
        <div class="panel-body">
          <div class="text-danger">vous n'avez pas d'acceder à cette ressource</div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>